<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbdworld.test4">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.hbdworld.test4.intent.action.MAIN_ACTION" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchemeActivity"
            android:exported="true"
            android:label="指定scheme的Activity">
            <intent-filter>
                <action android:name="xx" />
                <data android:scheme="lee" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchemeHostPathActivity"
            android:exported="true"
            android:label="SchemeHostPathActivity">
            <intent-filter>
                <action android:name="xx" />
                <data
                    android:host="www.hbdworld.com.cn"
                    android:path="/mypath"
                    android:scheme="lee" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchemeHostPortActivity"
            android:exported="true"
            android:label="SchemeHostPortActivity">
            <intent-filter>
                <action android:name="xx" />
                <data
                    android:host="www.hbdworld.com.cn"
                    android:port="8888"
                    android:scheme="lee" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchemeHostPortPathActivity"
            android:exported="true"
            android:label="SchemeHostPortPathActivity">
            <intent-filter>
                <action android:name="xx" />
                <data
                    android:host="www.hbdworld.com.cn"
                    android:path="/mypath"
                    android:port="8888"
                    android:scheme="lee" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SchemeHostPortPathTypeActivity"
            android:exported="true"
            android:label="SchemeHostPortPathTypeActivity">
            <intent-filter>
                <action android:name="xx" />
                <data
                    android:host="www.hbdworld.com.cn"
                    android:mimeType="abc/xyz"
                    android:path="/mypath"
                    android:port="8888"
                    android:scheme="lee" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.hbdworld.test4.intent.action.SECOND_ACTION" />
                <action android:name="helloWorld" />
                <category android:name="com.hbdworld.test4.intent.category.SECOND_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>